extends layout

block content
  h1= title
  table
    tr
      th Time
      th Brand
      th Name
      th Price
    each row in carData
      tr
        td= moment(row.created_at).format('YY-MM-DD')
        td= row.car_brand
        td= row.car_name
        td= row.car_price



